.table th, .table td {
    text-align: center; 
    vertical-align: middle; 
    padding: 0.25rem;
    
}

.table-container{
  height: 450px; 
  overflow: auto;
}

.button {
    vertical-align: middle;
    outline: none !important;
  }

.icon {
    width: 16px;
    height: auto;
    background-color: none;
    text-align: center;
  }




.search-icon {
    width: 24px;
    height: auto;
    background-color: none;
    text-align: center;
  }


.input-group {
  margin-left: 5px;
}

.field-selection {
  display: flex;
  text-align: right;
}

.search-selector{
  background-color: ghostwhite;
  width:150px;
}



.btn-group {
  padding: 0.25rem;
}

.btn-group button {
  margin-right: 0.5rem;
}

.btn-group button:last-child {
  margin-right: 0; 
}


::-webkit-scrollbar {
  width: 8px;
  border-radius: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: 	#B0B0B0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}