.table th, .table td {
    text-align: center; 
    vertical-align: middle; 
    padding: 0.25rem;
}

.table-container{
  height: 450px; 
  overflow: auto;
}

.button {
    vertical-align: middle;
    outline: none !important;
  }

.icon {
    width: 16px;
    height: auto;
    background-color: none;
    text-align: center;
  }


#searchLayout {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
  }

.search-icon {
    width: 24px;
    height: auto;
    background-color: none;
    text-align: center;
  }


.input-group {
  width: 1500px;
  margin-left: 5px;
}

.field-selection {
  display: flex;
  align-items: center;
  width: 600px;

}

.search-selector{
  background-color: ghostwhite;
}

.custom-search-input {

  margin-right: 0px;
  float: right;
}

.btn-group {
  padding: 0.25rem;
}

.btn-group button {
  margin-right: 0.5rem;
}

.btn-group button:last-child {
  margin-right: 0; 
}
